@media (max-width:992px) {

    html {
        font-size: 55%;

    }

    body {
        padding: 0;

    }

    #menu-bars {
        display: initial;
    }

    header {
        left: -100rem;

    }

    header.active {
        left: 0%;
    }

    header .logo {
        font-size: 2rem;
    }

    header .navbar a {
        font-size: 3rem;
    }

    header .social a {
        font-size: 3rem;

    }

    .services .service-chart {
        width: 70%;
    }





}





@media (max-width:450px) {
    html {
        font-size: 50%;

    }


    header {
        width: 100%;
    }

    header .logo {
        font-size: 3rem;
    }

    header .navbar a {
        font-size: 3.5rem;
    }

    header .social a {
        font-size: 3.5rem;

    }

    #menu-bars {
        right: 2rem;
    }




}